<h1>Listing weight_posts</h1>


  <span class="label">seven day average</span>
  <%= number_with_precision(@seven_day_avg, precision: 2) %>


<table>
  <thead>
    <tr>
      <th>Comment</th>
      <th>Weight</th>
      <th>Fat per</th>
      <th>Bmi</th>
      <th>Weight date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @weight_posts.each do |weight_post| %>
      <tr>
        <td><%= weight_post.comment %></td>
        <td><%= weight_post.weight %></td>
        <td><%= weight_post.fat_per %></td>
        <td><%= weight_post.bmi %></td>
        <td><%= weight_post.weight_date.strftime("%a %m/%d/%Y") %></td>
        <td><%= link_to 'Show', weight_post %></td>
        <td><%= link_to 'Edit', edit_weight_post_path(weight_post) %></td>
        <td><%= link_to 'Destroy', weight_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


